
# pyrogram
# ﻿https://github.com/KurimuzonAkuma/pyrogram/archive/v2.1.33.zip

kurigram

apscheduler

tgcrypto
uvloop

aiohttp
sqlalchemy
pymysql
aiomysql
aiosqlite

redis
pyyaml

supervisor


